<html>

<head>
</head>

<body>
	<h1>Welcome {{username}}</h1>
	{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

	<style type="text/css">
		table,
		th,
		td {
			border: 1px solid black;
		}
	</style>

	<a href="/postRecipe">Post a Recipe</a></br>
	<a href="/postEvent">Post an Event</a></br>
	<a href="/rsvp">RSVP an Event</a></br>
	<a href="/">Go to Front Page</a></br>
	<a href={{'/Preference/%s'%username}}>Preference</a></br>
	<a href="/logout">Logout</a>

</body>


</html>
