<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookzilla Project</title>
</head>

<body>
    <form name="queryForm" action="http://localhost:5600/SearchRecipesResult" onsubmit="return validateForm()" method="get">
        <h1>Search Recipes</h1>
        <h3>Type the tag you want to search: </h3>
        <input type='text' name='tag' value="">
        <h3>Choose the minimum stars you want to search: </h3>
        <select name="stars">
            <option value="0">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <h3>Choose what kind of logical operation you want to combine with the two conditions: </h3>
        <select name="operator">
            <option value="and" selected>and</option>
            <option value="or">or</option>
        </select>
        <br><br>
        <input type="reset" value="reset">
        <input type="submit" value="submit">
    </form>

    <script>
        function validateForm() {
            let tag = document.forms["queryForm"]["tag"].value;
            let stars = document.forms["queryForm"]["stars"].value;
            if (tag == "" && stars == "0") {
                alert("you have to choose at least one condition");
                return false;
            }
        }
    </script>

</body>

</html>